html,body {
    margin: 0;
    background: #F4EAE0;
    text-align: center;
}

.html-contact,.body-contact {
    margin: 0;
    background: #7EA3DA;
    text-align: center;
}

/*header for home page*/

.first-header-block {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    height: 592px;
    width: 100%;
    background-color: #DA7E89;
    opacity: 100%;
}

.header-block-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 406px;
    justify-content: center;
    width: 581px; 
    margin-left: 15%;
    margin-right: 5%;
}

.header-contents {
    display: flex;
    gap: 30px;
    margin-top: 66px;
}

.header-btn {
    height: 85px;
    width: auto;
    background-color: #CE5A67;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    outline: none;
    color: black;
    font-size: 56px;
    padding-left: 10px;
    padding-right: 10px;
    transition:  0.8s
}

.header-btn:hover {
    background-color: #DA7E89;
    transition: all 0.8s
}

.header-btn:after {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    transition: all 0.8s
}

.header-quote {
    width: 581px;
    height: 253px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.img-JB-1 {
    display: flex;
    flex-direction: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 543px;
    position: relative;
}

/*header for the rest of the pages*/

.header-all-pag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    background-color: black;
    height: 133px;
    width: auto;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}



.header-all-btn {
    color: #F4EAE0;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    outline: none;
    font-size: 64px;
}

.header-all-btn:hover {
    color: #7EA3DA;
}

/*main for all pages*/

main {
    display: flex;
    flex-direction: column;
}

/*about page*/

.about-opleiding-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 647px;
    width: 100%;
    background-color: #2F7BD8;
    padding-bottom: 10px;
}

.about-opleiding-info-p { 
    font-size: 32px;
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: left;
}

.about-opleiding-info-1 {
height: 521px;
width: 600px;
}

.about-opleiding-info-2 {
    height: 521px;
    width: 550px;
}

.about-opleiding-p {
    font-size: 64px;
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: 1%;
}

/*contact page*/

.contact-blue-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2363B2;
    height: 387px;
    width: 100%;
}

.big-contact {
    font-size: 128px;
    color: #7EA3DA;
    font-family: 'Oswald', sans-serif;
}

.contact-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7EA3DA;
    height: 770px;
    width: 100%;
}

.contact-info-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4EAE0;
    height: 655px;
    width: 759px;
    border-radius: 25px;
}

ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

li {
    text-align: center;
    color: #2363B2;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
}

/*work page*/

.java-logo-container {
    display: flex;
    flex-direction: row;
    background-color: #7EA3DA;
    height: 667px;
    width: 100%;
}

.work-java-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 667px;
    width: 50%;
}

.big-work {
    font-family: 'Oswald', sans-serif;
    font-size: 140px;
}

.main-work {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.work-opleiding-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 577px;
    width: 100%;
    gap: 40px;
    background-color: #222222;
    padding-top: 70px;
}

.work-opleiding-p {
    font-size: 64px;
    color: #F9F5EF;
    font-family: 'Poppins', sans-serif;
    margin: 1%;
}

.work-opleiding-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    gap: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width: 1350px){
    .work-opleiding-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 1077px;
        width: 623px;
        gap: 40px;
        background-color: #222222;
        padding-top: 70px;
    }
    
    .work-opleiding-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        gap: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 1100px){
    .periode-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 623px;
        width: auto;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .periode-block-outer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        background-color: #F9F5EF;
        width: 618px;
        height: 1000px;
        padding-bottom: 47px;
        padding-left: 41px;
        padding-right: 41px;
        border-radius: 10px;
        margin-bottom: 60px;
        margin-top: 40px;
    }

    .periode-block-inner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 618px;
    }

}

.opleiding-info-p { 
    font-size: 32px;
    color: #F9F5EF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: left;
}

.opleiding-info-1 {
height: 521px;
width: 650px;
}

.opleiding-info-2 {
    height: 521px;
    width: 700px;
}

.periode-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1123px;
    width: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.long-black-block {
    display: flex;
    align-items: center;
    height: 1253px;
    width: 400px;
    background-color: #222222;
    position: absolute;
}

.periode-block-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #F9F5EF;
    width: 1018px;
    height: 500px;
    padding-bottom: 47px;
    padding-left: 41px;
    padding-right: 41px;
    border-radius: 10px;
    margin-bottom: 60px;
    margin-top: 40px;
}

.periode-block-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1018px;
}

.big-periode {
    font-size: 64px;
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.periode-block-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pinkgoose-img {
    height: 358px;
    width: 343px;
    border-radius: 5px;
    border-style: solid;
    border-color: #222222;
}

.periode-p {
    font-size: 32px;
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-align: left;
}

.periode-p-1 {
    width: 500px;
}

.periode-p-2 {
    width: 675px;
}

/*home page*/

.home-about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 667px;
    background-color: #F9F5EF;
}

.home-about-first-block {
display: flex;
justify-content: center;
height: auto;
width: 50%;
}

.long-red-block {
    position: absolute;
    height: 667px;
    width: 150px;
    background-color: #DA7E89;
}

.white-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 2%;
    height: 416px;
    width: 430px;
    border-radius: 100%;
    background-color: #F9F5EF;
}

.jochem-home-img {
    height: 387px;
    width: 400px;
    border-radius: 100%;
}

.home-about-second-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 50%;
}

.text-about-p {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-me-home {
    color: black;
    font-size: 68px;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

.About-home-link {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
    color: black;
    font-size: 28px;
}

.p-text-about {
    text-align: start;
    width: 546px;
}

.p-home-about {
    color: black;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}

.arrow-about-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 546px;
    gap: 10px;
}

.arrow-img {
    height: 40px;
    width: 40px;
}

.home-work-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 680px;
    background-color: #222222;
}

.home-technovium-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 50%;
}

.technovium-home-img {
    height: 280px;
    width: 600px;
    border-radius: 10px;
}

.home-work-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 546px;
    gap: 10px;
}

.work-home {
    color: #F9F5EF;
    font-size: 68px;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

.p-home-work {
    color: #F9F5EF;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}

.work-home-link {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
    color: #F9F5EF;
    font-size: 28px;
}

.p-text-work {
    text-align: start;
    width: 546px;
} 

.home-contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #CE5A67;
    width: 100%;
    height: 500px;
}

.home-contact-row {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 720;
}

.home-contact {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
    color: #F9F5EF;
    font-size: 96px;
    height: 120px;
}

.home-big-arrow-img {
    margin-top: 30px;
    height: 120px;
    width: 120px;
}

.red-long-row {
    display: flex;
    flex-direction: row;
    width: 721px;
    margin-left: 15px;
}

.red-long-block {
    background-color: #DA7E89;
    width: 574px;
    height: 20px;
}

/*footer for all pages*/

footer {
    display: flex;
    flex-direction: row;
    background-color: #222222;
    width: 100%;
    height: 200px;
}

.footer-abt-con {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    background-color: #333333;
    height: 200px;
    width: 33%;
}

.footer-about {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    outline: none;
    color: white;
    font-size: 28px;
}

.footer-about:hover {
    color: #7EA3DA;
}

.footer-contact {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    outline: none;
    color: #7EA3DA;
    font-size: 28px;
}

.footer-contact:hover {
    color: white;
}

.footer-personal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15%;
    height: 200px;
    width: 67%;    
}

.footer-img {
    width: 35px;
    height: 26px;
}

.rondje {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F3343;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.footer-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.footer-p-gmail {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    color: #7795FF;
}

.footer-p-personal {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    color: #9277FF;
}



/*media qeury*/ 


@media (max-width: 1464px) {
    .img-JB-1 {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1100px) { 
}

@media (max-width: 600px) {
    .first-header-block {
        display: flex;
        flex-direction: column;
    }
    .img-JB-1 {
        width: 0%;
        height: 0%;
    }
}